.card {
    border: 3px solid var(--accent);
    box-shadow: 1px 2px 18px 2px var(--theme-color);
    border-style:groove;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 15%;
    background-color: rgb(60, 60, 60);
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.374);
    z-index: 1;
    pointer-events: none;
}

.card:hover::before {
    background-color: rgba(0, 0, 0, .1);
    transition: background-color .3s ease-in
}

.card:hover {
    transform: scale(1.05);
    transition: transform .2s ease-in;
}

.card-title {
   font-size: 30px;
   font-family: "Montserrat", monospace, sans-serif;
   font-weight: 800;
   background-color: rgb(0, 0, 0, .1);
   margin-bottom: 10px;
   border-radius: 50%;
   padding: 10px;
   box-shadow: 2px 2px 10px 10px rgb(0, 0, 0, .1);
   z-index: 2;
   text-align: center;

}



.repo, .deployed {
    
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: rgb(255, 104, 4, .3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px black;
}

.repo:hover, .deployed:hover {
    background-color:rgb(255, 104, 4, .7) ;
    transition: background-color .2s ease-in;
}

.repo {
    position: absolute;
    bottom: 5%;
    right: 12%;
}

.deployed {
    position: absolute;
    bottom: 5%;
    right: 28%;
}

.info-pos {
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-color: rgb(255, 104, 4, .5);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 2px black;
    box-sizing: border-box;
}

.info-pos:hover {
    background-color: rgb(255, 104, 4, .8);
    transition: background-color .2s ease-in;
}

@media (max-width: 1200px) {
    .card {
        max-width: 250px; 
        height: 250px; 
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 200px; 
        height: 200px; 
    }

    .card-title {
        font-size: 20px;
    }

    .repo, .deployed {
        width: 20px;
        height: 20px;
        background-size: 15px;
    }

    .info-pos {
        width: 20px;
        height: 20px;
       
    }
}

@media (max-width: 480px) {
    .card {
        max-width: 150px; 
        height: 150px; 
    }

    .card-title {
        font-size: 15px;
    }

    .deployed {
        right: 30%;
    }

    .info-pos {
        width: 18px;
        height: 18px;
        bottom: 6%
    }
}