.footer-box {
    border-top: 1px solid var(--accent);
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
} 

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-wrap: wrap;
}



.footer-bubble {
    width: 30px;
    height: 30px;
    color: gray;
    filter: invert(1);
    opacity: 20%;
}

.footer-bubble:hover {
    opacity: 50%;
    transition: opacity .3s ease-in
}

.git {
    background-image: url('../../../assets/images/github-brands.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.linked {
    background-image: url('../../../assets/images/linkedin-brands.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}