:root {
    background-color: #161616;
    --theme-color: #ff6421;
    --accent: #494949;
    --skills: #e7e7e7;
    --blue: #1E3E62;
    --light-blue: #7dccf4;
    font-family:'Quicksand', monospace, sans-serif;
    
}

body, html {
    height: 100%;
    margin: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

p, h1 {
    color: #d6d6d6;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    position: relative;
    height: fit-content;
}

.section-title {
    position:relative;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bolder;
}

.background-img {
    height: 250px;
    background-image: url('../assets/images/layered-waves-haikei (2).svg');
    background-repeat: no-repeat;
    filter: blur(100px)
}

.faded {
    font-style: italic;
    opacity: 60%;
}

.info-text-box {
    text-align: center;
    width: 20%;
    margin-bottom: 30px;

}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}

.highlight {
    width: 10px;
    height: 5px;
    background-color: #f155124a;
    box-shadow: 1px 1px 10px 1px var(--theme-color);
}


